/* reset padrões  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	font-family: 'Passion One', cursive;
	padding-top: 80px;
	background-color: rgb(249, 244, 244);
	background-image: url(../imagem/mancha.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 00% 100px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

img{
	width: 100%;
}



header{
	position: fixed; 
	top: 0;	
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	background-color: #f5aa0a;	
	box-shadow: #622603 0 5px 5px;	
}

header h1{
	width: 25%;
		
}

header nav{
	width: 70%;
	
}

nav ul{
	padding: 0;
	list-style-type: none;	
	text-align: right;
}


nav ul li, nav li a{
	display:inline-block;
	width: fit-content;
	height: 30px;
	margin-bottom: 4px;
	padding: 8px;
	
}

nav li a{
	background-color:#e37a15;
	text-decoration: none;
	font-size: 15px;
	color: rgb(22, 21, 21);
	box-shadow: white 0 3px 3px;
}



nav ul li a:hover{
	background-color: #f72606;
	color: rgb(15, 236, 77);
}

main{
	display: flex;
	/* VH corresponde a % da tela do dispositivo, 70vh = 70% da altura da tela */
	min-height: 70vh;
	/* separar os blocos justify-content  */
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

p{
	text-indent: 30px;
	padding-top: 10px;
	font-size: 15px;	
}

h1{
	font-size: 20px;
	font-weight: bolder;
}

h2{
	padding: 5px;
	padding-bottom: 20px;
	font-size: 18px;
}

h3{
	padding: 5px;
	padding-bottom: 20px;
	font-size: 18px;
}



aside{
	padding: 20px;
	width: 25%;
	background-color: #efd162;
	border: 2px solid white;
	
}

footer{
	background-color: #f5aa0a;
	width: 90%;
	height: 50px;
	margin-top: 40px;
	margin: 0 auto;
	padding-top: 40px;
	border: 2px solid white ;
	
}
footer p{
	text-align: center;
	padding: 10px;	
	
}

.conteudo-home{
	width: 70%;
	background-color:  #efd162;
	border: 2px solid white;	
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box{
	width: 46%;	
	text-align: center;
	margin: 20px 10px 100px 10px;
}

.box figure{
	height: 200px;
	overflow: hidden;
	border: 2px solid white;
}

.conteudo, .conteudo-home{
	padding: 20px;
	width: 70%;	
	background-color: rgba(100, 190, 150, 0.9);
}

.ico-logo{
	width: 40px;
	margin: 0 20px 0 0;
}
.modal{
	position: fixed;
	top: 20%;
	right: 10px;
	width: 200px;
	padding: 10px;
	background-color: #e37a15;
	border: white solid 1px;
}

.modal .fechar{
	position: absolute;
	right: 10px;
	top: 4px;
	width: 20px;
	padding: 2px;
	background-color: #900;
	color:  #fbf8f7;
	text-align: center;
}

#img-rubembraga{
	margin-top: 0;
}

#img-escrever{
	margin-top: -50px;
}

#img-auladeingles{
	margin-top: -75px;
}

#img-biografia{
	margin-top: -250px;
}

/* layout para tablets e celulares */
@media only screen and (max-width: 992px) {
	main{
		flex-direction: column-reverse;
	}
	aside, .conteudo, .conteudo-home{
	width: 90%;
	margin: 0 auto;
}

nav{
	display: none;
}

header h1{
	width: 60%;
}

.menu-hamburguer{
	width: 20px;
}
}



